@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
}

@layer utilities {
  .title-40{
    @apply text-[40px]/[130%] tracking-[-0.02em] font-bold;
  }
  .title-32 {
    @apply text-[32px]/[130%] tracking-[-0.02em] font-bold;
  }
  .title-24 {
    @apply text-[24px]/[130%] tracking-[-0.02em] font-bold;
  }
  .subtitle-28{
    @apply text-[28px]/[130%] tracking-[-0.02em] font-bold;
  }
  .subtitle-22{
    @apply text-[22px]/[130%] tracking-[-0.02em] font-bold;
  }
  .subtitle-20{
    @apply text-[20px]/[130%] tracking-[-0.02em] font-bold;
  }
  .caption-16 {
    @apply text-[16px]/[100%] tracking-[-0.03em] font-bold;
  }
  .caption-15{
    @apply text-[15px]/[100%] tracking-[-0.03em] font-bold;
  }
  .caption-14{
    @apply text-[14px]/[130%] tracking-[-0.02em] font-bold;
  }
  .caption-14-light{
    @apply text-[14px]/[130%] tracking-[-0.02em] font-medium;
  }
  .caption-12{
    @apply text-[12px]/[130%] tracking-[-0.41px] font-bold;
  }
  .caption-10{
    @apply text-[10px]/[87.5%] tracking-[0em] font-bold;
  }
}

body {
  font-family: Pretendard-Bold;
}